 .primary-tittle {
 	margin-top: 0;
 	margin-bottom: 50px;
 	color: $tittleTextColor;

 	font-weight: 700;
 	font-size: 36px;
 	line-height: 1.16;
 	text-align: center;
 }

 .secondary-tittle {
 	font-weight: 700;
 	font-size: 14px;
 	line-height: 1.14;
 	color: $whiteColor;

 	margin-bottom: 20px;

 	text-transform: uppercase;
 }