.advantage {
	@extend %list;

	@media screen and (min-width:768px) {
			display: flex;
			flex-wrap: wrap;
		}
				@media screen and (min-width:1200px) {
					display: flex;
				}
}

.advantage__item {
	@media screen and (max-width:767px) {
		&:not(:last-child) {margin-bottom: 30px;}
	}

		@media screen and (min-width:768px) {
			flex-basis: 50%;
		}

				@media screen and (min-width:1200px) {
					flex-basis: 25%;
				}

		
}

.advantage__card {
	margin-bottom: 30px;

	height: 120px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $secondaryBackgroundColor;
	border-radius: 4px;
	}

.advantage__tittle {
	// margin-top: 0;
	margin-bottom: 10px;

	color: $tittleTextColor;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
}