.advantage {
	@extend %list;
}

.container__advantage {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	margin: -30px;

	}

}

.advantage__item {
	&:not(:last-child){
		@media screen and (max-width:767px){
			margin-bottom: 30px;
		}
	}
		@media screen and (min-width:768px) {
			flex-basis: calc((100% - 4 * 30px) / 2);
				margin: 30px;
				
		}

				@media screen and (min-width:1200px) {
					flex-basis: calc((100% - 8 * 30px) / 4);
				}

		
}

.advantage__card {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 30px;
	height: 120px;

	background-color: $secondaryBackgroundColor;
	border-radius: 4px;
	}

.advantage__tittle {
	margin-bottom: 10px;

	color: $tittleTextColor;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;

	@media screen and (min-width:768px) {
		text-align: start;
	}

}