.modal__checkbox {
	margin-bottom: 30px;
	
}

.checkbox__input:checked + .checkbox__label .checkbox__span {
	background-color: $accentColor;
	border: none;
}

.checkbox__input:checked + .checkbox__label .checkbox__icon {
	fill: $whiteColor;
}

.checkbox__label {
	display: flex;
	align-items: center;
}

.checkbox__span {
		display: flex;
			align-items: center;
			justify-content: center;


	width: 16px;
	height: 15px;

	border: 2px solid $tittleTextColor;

	border-radius: 2px;

	margin-right: 7px;
}

.checkbox__icon {
	fill: transparent;
}

.checkbox__link {

	@media screen and (min-width:450px) {
			
			margin-left: 4px;

			font-size: 12px;
			line-height: 1.17;

			text-decoration-line: underline;
			color: $accentColor;
		}

	@media screen and (min-width:1200px) {
		font-size: 14px;
		line-height: 1.71;
	}			
}

.checkbox__link--text {
		@media screen and (min-width:450px) {
				font-size: 12px;
				line-height: 1.17;
			}
		
			@media screen and (min-width:1200px) {
				font-size: 14px;
				line-height: 1.71;
			}

}

.chexbox__btn {
	margin-left: auto;
	margin-right: auto;
}