.logo {
	@media screen and (min-width:768px) {
		padding: 26px 0px 26px 0px;
	}
}

.logo__web {
	color: $accentColor;

	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;

	text-decoration: none;
}

.logo__studio {
	color: $blackColor;

	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;

	text-decoration: none;
}