.team {
	background-color: $secondaryBackgroundColor;
}

.team-card {
	@extend %list;
	display: flex;
}

.team-card__item {
	width: 270px;
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 30px;

	background-color: $whiteColor;

	box-shadow: 
	0px 1px 3px rgba(0, 0, 0, 0.12), 
	0px 1px 1px rgba(0, 0, 0, 0.14),
	0px 2px 1px rgba(0, 0, 0, 0.2);

	&:not(:last-child) {
			margin-right: 30px;
		}
}

.team-card__pic {
	margin-bottom: 30px;
}

.team-card__tittle {
	margin-top: 0;
	margin-bottom: 10px;

	color: $tittleTextColor;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-card__text {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}