body {
	margin: 0;
	background-color: $whiteColor;
	color: $primaryTextColor;
	
	font-family: $font ;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}



 .link {
 	text-decoration: none;
 }


