 $primaryTextColor: #757575;
 $tittleTextColor: #212121;
 $primaryBackgroundColor: #2f303a;
 $secondaryBackgroundColor: #f5f4fa;
 $primaryBorderColor : #ececec;
 $iconColor: #afb1b8;
 $whiteColor: #ffffff;
 $blackColor: #000000;
 $accentColor: #2196f3;
 $font:Roboto, sans-serif;


















 

